# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
Client/node_modules
Client/.pnp
Client/.pnp.*
Client/.yarn/*
Client/!.yarn/patches
Client/!.yarn/plugins
Client/!.yarn/releases
Client/!.yarn/versions

# testing
Client/coverage

# next.js
Client/.next/
Client/out/

# production
Client/build

# misc
Client/.DS_Store
Client*.pem

# debug
Client/npm-debug.log*
Client/yarn-debug.log*
Client/yarn-error.log*
Client/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
Client/.env*

# vercel
Client/.vercel

# typescript
Client/*.tsbuildinfo
Client/next-env.d.ts


# Server
Server/node_modules
Server/config/*


# Admin
# Compiled output
Admin/dist
Admin/tmp
Admin/out-tsc
Admin/bazel-out

# Node
Admin/node_modules
Admin/npm-debug.log
Admin/yarn-error.log

# IDEs and editors
Admin/.idea/
Admin/.project
Admin/.classpath
Admin/.c9/
Admin/*.launch
Admin/.settings/
Admin/*.sublime-workspace

# Visual Studio Code
Admin/.vscode/*
Admin/!.vscode/settings.json
Admin/!.vscode/tasks.json
Admin/!.vscode/launch.json
Admin/!.vscode/extensions.json
Admin/.history/*

# Miscellaneous
Admin/.angular/cache
Admin/.sass-cache/
Admin/connect.lock
Admin/coverage
Admin/libpeerconnection.log
Admintestem.log
Admin/typings

# System files
Admin/.DS_Store
Admin/Thumbs.db
